* {
  margin: 0;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

body {
  font-family: 'roboto';
  height: 100vh;
  width: 98vw;
  display: grid;
  place-content: center;
}

.playerSide {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10em 30em;
  grid-template-rows: 2em 25em;
}

.btns {
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  gap: 3em;
}

button {
  width: 7em;
  height: 2em;
}

.shipsContainer {
  border: solid 1px black;
  width: 10em;
  height: 20em;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.ship {
  border: solid 1px black;
  width: 8em;
  padding: 0.5em;
  font-size: 0.8em;
}

.board {
  padding: 5px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 2em);
  grid-template-rows: repeat(10, 2em);
  place-content: center;
  gap: 0.3em;
  grid-column: 2;
  grid-row: 2;
}

.board-cell {
  border: solid 1px black;
  width: 2em;
  height: 2em;
}

.highlight {
  background-color: grey;
}

.ship-placed,
.invalid {
  background-color: red;
}
